<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerLinks}}
   
  </head>
  <body>
    
    {{>navbar}}
    <!-- Main header -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- Left -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                  <figure class="errImg">
                    <img src="https://img.freepik.com/free-vector/400-error-bad-request-concept-illustration_114360-1933.jpg?size=626&ext=jpg&ga=GA1.1.177160706.1689165084&semt=ais" class="img-fluid" alt="">
                  </figure>
            
                  <p>Welcome to SkyCast</p>
                  <h1>Oops <span class="text_clr">Page</span> not found!</h1>
                  <a href="/"><button>Go Back</button></a>
              </div>
        </div>
      </div>
    </div>

{{>footer}}
  </body>
</html>
